body,td,th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;

}
body {
    background-color: #FFFFFF;
    background-image: url(/public/gfx/aim_back.jpg);
    background-repeat: repeat-x;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
a:link {
    color: #990000;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #6699CC;
}
a:hover {
    text-decoration: none;
    color: #0066FF;
}
a:active {
    text-decoration: none;
    color: #FF6600;
}
.big {
    font-size: 26px;
    color: #990000;
    font-family: Helvetica, sans-serif, Arial;
}
h1 {
    font-size: 17px;
    color: #990000;
    font-family: Helvetica, sans-serif, Arial;
    line-height: 18px;
}
h2 {
    font-size: 15px;
    color: #990000;
    font-family: Helvetica, sans-serif, Arial;
    line-height: 18px;
}
.bottomback {
    background-image: url(/public/gfx/bottom.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #333333;
}
.bottomback_auth {
    background-image: url(/public/gfx/bottom_auth.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #333333;
}
.tourhead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    font-weight: bold;
}
.photo {
    border: 2px solid #CCCCCC;
    margin-left: 10px;
    padding: 0px;
    margin-bottom: 6px;
}
#avalehe_link{
    background-image: url(/public/gfx/avaleht1.jpg);
    background-repeat: no-repeat;
    width:68px;
    height:25px;
    border:none;
}
#avalehe_link:hover{
    background-image: url(/public/gfx/avaleht2.jpg);
    background-repeat: no-repeat;
}
#avalehe_link_buss{
    background-image: url(/public/gfx/buss_avaleht1.jpg);
    background-repeat: no-repeat;
    width:87px;
    height:25px;
    border:none;
}
#avalehe_link_buss:hover{
    background-image: url(/public/gfx/buss_avaleht2.jpg);
    background-repeat: no-repeat;
}

#kalender_link{
    background-image: url(/public/gfx/kalender1.jpg);
    background-repeat: no-repeat;
    width:111px;
    height:25px;
    border:none;
}
#kalender_link:hover{
    background-image: url(/public/gfx/kalender2.jpg);
    background-repeat: no-repeat;
}
#tingimused_link{
    background-image: url(/public/gfx/tingimused1.jpg);
    background-repeat: no-repeat;
    width:127px;
    height:25px;
    border:none;
}
#tingimused_link:hover{
    background-image: url(/public/gfx/tingimused2.jpg);
    background-repeat: no-repeat;
}
#pildid_link{
    background-image: url(/public/gfx/pildialbum1.jpg);
    background-repeat: no-repeat;
    width:92px;
    height:25px;
    border:none;
}
#pildid_link:hover{
    background-image: url(/public/gfx/pildialbum2.jpg);
    background-repeat: no-repeat;
}
#kontakt_link{
    background-image: url(/public/gfx/kontakt1.jpg);
    background-repeat: no-repeat;
    width:72px;
    height:25px;
    border:none;
}
#kontakt_link:hover{
    background-image: url(/public/gfx/kontakt2.jpg);
    background-repeat: no-repeat;
}
#kontakt_link_buss{
    background-image: url(/public/gfx/buss_kontakt1.jpg);
    background-repeat: no-repeat;
    width:75px;
    height:25px;
    border:none;
}
#kontakt_link_buss:hover{
    background-image: url(/public/gfx/buss_kontakt2.jpg);
    background-repeat: no-repeat;
}
#bussirent_link{
    background-image: url(/public/gfx/buss_bussirent1.jpg);
    background-repeat: no-repeat;
    width:83px;
    height:25px;
    border:none;
}
#bussirent_link:hover{
    background-image: url(/public/gfx/buss_bussirent2.jpg);
    background-repeat: no-repeat;
}
#main_table{
    width:820px;
    border:0px;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    border-spacing:0px;
}
#auth_table{
    width:1220px;
    border:0px;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    border-spacing:0px;
}
table{
    border-spacing:0px;
    border:0px;
}
td{
    padding:0px;
    border-spacing:0px;
}
.main_cell{
    width:762px;
}
.auth_cell{
    width:962px;
}
.input_cell{
    height:30px;
}
.error{
    border:1px solid red;
    padding:5px;
    color: red;
    width:90%;
}
.message{
    border:1px solid green;
    padding:5px;
    color: green;
    width:90%;
}
.mainInfo{
     padding-left:15px;
}
.menu{
     background-color:#bdd4f6;
     padding-bottom:10px;
}
.selected{
     background-color:#0b86cb;
}
#main_nav li { float:left; margin-left:2px;list-style-type:none; }
#main_nav li a{list-style-type:none; font-size:16px; color:black; text-decoration:none; padding:8px 15px; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;}
#main_nav li a.active,
#main_nav li a:hover{  background-color:#0b86cb;  }
td.dialog{    
     margin-bottom:4px; width:45%; padding: .2em;
     font-size:16px;
}


.btn {
    color: #fff !important;
    background-color: #0b86cb;
    font-size: 18px;
    padding: 12px 30px;
}

.btn-small {
    font-size: 12px;
    padding: 5px;
}

.badge {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.primary {
    background-color: #bdd4f6;
}

.secondary {
    background-color: #990000;
}

.success {
    background-color: yellowgreen;
}

.danger {
    background-color: red;
}

.info {
    background-color: #0b86cb;
}






a.badge:link, 
a.badge:visited, 
a.btn:link,
a.btn:visited{
    color: white;
}


input.btn {
    border: none;
}

input.btn:hover {
    cursor: pointer;
}

li.table-header, li.table-row {
    border-radius: 3px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.table-header {
    background-color: #6699CC;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.col-25 {
    flex-basis: 25%;
}
.col-20 {
    flex-basis: 20%;
}

.col-30 {
   flex-basis: 30%;
}

.col-10 {
    flex-basis: 10%;
}

.col-5 {
    flex-basis: 5%;
}

.col-15 {
    flex-basis: 15%;
}

/*
.col-2 {
    flex-basis: 40%;
}
.col-3 {
    flex-basis: 25%;
}
.col-4 {
    flex-basis: 25%;
}
*/
