body {
  background-color: lightblue;
}
div {
	  border-style: solid;
	  border-color: navy ;
  border-width: thin;
  width: 100%; 
  height: 100%;
  border-radius: 10px;
}
div1{border-style: solid;
	border-color: navy ;
	border-width: thin;
	width: 100%; 
	height: 100%;
	border-radius: 10px;
	padding-left:5%;
	padding-right:5%;
	}

img {width: 100%;
	border-radius:10px;
}
a {
background-color: #97998A ;
border-style:  solid;
border-width: 1px;
border-color: black;
  font-size: 20px;
  color: white;
}
nav {
text-align: center;
}
h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  
}

p {
  font-family: verdana;
  font-size: 20px;
  color: 
}
p1 {
color: green;
}
<img1 scr="C:\Users\MIHKEL\Desktop\Merili kool\2_semester\Veebikaardid\2_practice\webProject\img\banner.jpg" alt="kaalud">
<img2 src="https://www.bing.com/ck/a?!&&p=3fb5e4c182e488509334f5bd370797ffb2791b4b1481dcccbacc278584c05e75JmltdHM9MTY1MDE3NzM5MCZpZ3VpZD05MDBiZTQ4OC03ZWYzLTQ0MWItYmIzNC05MGNjZjc0OGRlYTgmaW5zaWQ9NTM5OQ&ptn=3&fclid=b714767f-be18-11ec-b8b9-34eaad35c715&u=a1aHR0cHM6Ly9ldC53aWtpcGVkaWEub3JnL3dpa2kvSiVDMyVBNG5lcz9tc2Nsa2lkPWI3MTQ3NjdmYmUxODExZWNiOGI5MzRlYWFkMzVjNzE1&ntb=1" alt="Siin peaks olema jänes">	
